<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>437647564979-hv5e9l41gk3gj2botjskrs6vrfdoipc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.437647564979-hv5e9l41gk3gj2botjskrs6vrfdoipc6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>437647564979-1fggtf4i812fqeat4kd7sbo737l77dgi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGmjp92hBpYzvDzOD6lLqxPn9WvRbXP6w</string>
	<key>GCM_SENDER_ID</key>
	<string>437647564979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weconnectgroup.welocal</string>
	<key>PROJECT_ID</key>
	<string>welocal-933c1</string>
	<key>STORAGE_BUCKET</key>
	<string>welocal-933c1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:437647564979:ios:5451717328acaf4d64d0c6</string>
</dict>
</plist>