<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913038664899-7i532r5eu6dsvs0073hqqkr9fk2m6kvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913038664899-7i532r5eu6dsvs0073hqqkr9fk2m6kvt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913038664899-1gm595ju2nnfgob8rj9lb79amvcseaa8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Vv9xUZWTA8p1YpmCDxtMgBHLgjV1QAA</string>
	<key>GCM_SENDER_ID</key>
	<string>913038664899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weconnectgroup.sincere</string>
	<key>PROJECT_ID</key>
	<string>sincere-25a86</string>
	<key>STORAGE_BUCKET</key>
	<string>sincere-25a86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913038664899:ios:09accee40c453a67c52e76</string>
</dict>
</plist>