<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195210156102-n1bs2nuihhvcbn2vccltvhbcm89bg5of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195210156102-n1bs2nuihhvcbn2vccltvhbcm89bg5of</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>195210156102-6akk9uq2q910n7vhn8pgqn7qfqj8mnmu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGtVMGiVaOOgr2SGeuL5jglds7ieEA3ao</string>
	<key>GCM_SENDER_ID</key>
	<string>195210156102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutorprojects.switzerlandsocial</string>
	<key>PROJECT_ID</key>
	<string>switzerlandsocial-65d1a</string>
	<key>STORAGE_BUCKET</key>
	<string>switzerlandsocial-65d1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195210156102:ios:0944d7a673a425c9cb1247</string>
</dict>
</plist>